$color__ember-glow:       #ed322d;
$color__white:            #ffffff;
$color__light-whisper:    #f8f8f8;
$color__grey-hound:       #d9d9d9;
$color__whisper:          #eeeeee;
$color__grey-skull:       #a8a8a8;
$color__zambezi:          #5e5e5e;
$color__black-coal:       #383838;
$color__black-russian:    #2d2222;


$color__plum:           #7a225d;
$color__plum-light:     #802c64;
$color__eggplant:       #300030;
$color__eggplant-light: #3a0c3a;
$color__merlot:         #480048;
$color__merlot-light:   #500c50;