@import "colors";

// Colors
$color__link:         $color__ember-glow;
$color__input-border: $color__zambezi;

$line-height__input-normal: 2.5rem;

// Spacing
$padding__boxes:        .5rem 1rem;
$padding__paragraphs:   .5rem .5rem;
$padding__input:        .5rem 1rem;
$padding__button:       .2rem 1rem;
$margin__button:        2rem 2rem;
$margin__form-field:    1rem;
$padding__small-items:  0 1rem;
$margin__medium-items:  .5rem;
$margin__headings:      1.5rem .5rem;

// Sizes
$size__inputs-buttons: 3rem;

