@import "colors";

// Colors
$color__link:         $color__ember-glow;
$color__input-border: $color__zambezi;

// Spacing
$padding__boxes:        1.5rem 1rem;
$padding__paragraphs:   .5rem .5rem;
$margin__button:        2rem 2rem;
$margin__medium-items:  .5rem;

