@import "typography";

h1, h2, h3, h4 {
  font-weight: $font-weight__headings;
  line-height: $line-height__headings;
  color: $color__text-headings-dark;
  text-transform: uppercase;
}

h1 {
  color: $color__text-headings-black;
}

h5 {
    font-weight: $font-weight__headings;
    line-height: $line-height__headings;
}

h1 {  font-size: $font-size__h1; line-height: 1; }
h2 {  font-size: $font-size__h2; }
h3 {  font-size: $font-size__h3; }
h4 {  font-size: $font-size__h4; }
h5 {  font-size: $font-size__h5; }

@media (min-width: 576px){
  h1 {  font-size: $font-size__md-h1; line-height: 1; }
  h2 {  font-size: $font-size__md-h2; }
  h3 {  font-size: $font-size__md-h3; }
  h4 {  font-size: $font-size__md-h4; }
  h5 {  font-size: $font-size__md-h5; }
}

@media (min-width: 992px){
    h1 {  font-size: $font-size__lg-h1; line-height: 1; }
    h2 {  font-size: $font-size__lg-h2; }
    h3 {  font-size: $font-size__lg-h3; }
    h4 {  font-size: $font-size__lg-h4; }
    h5 {  font-size: $font-size__lg-h5; }
}

html {
  font-size: $font-size__html;
}

body {
  font-family: $font-family__body;
  font-size: $font-size__body;
    @media (min-width: 576px) {
        font-size: $font-size__md-body;
    }
    @media (min-width: 992px) {
        font-size: $font-size__lg-body;
    }
  font-weight: $font-weight__thin;
  color: $color__text-body-light;
}

header {
  font-weight: $font-weight__regular;
  text-transform: uppercase;
}

.slider-heading, .services-and-terms {
  color: $color__text-body-light;
  h1 {
    color: $color__text-headings-white;
  }
  span {
    color: $color__text-headings-bright;
  }
}

p {
  font-weight: $font-weight__light;
  color: $color__text-body-light;
  letter-spacing: $letter-spacing__more-space;
}

article {
  color: $color__text-body-dark;
    span {
      color: $color__text-headings-bright;
    }
}

footer {
    h1 span {
        color: $color__text-headings-white;
    }
    p, ul {
        color: $color__text-body-dark;
      span {
        color: $color__ember-glow;
      }
    }
}