.container {
    max-width: 720px;
    @media  (min-width: 1400px){
      max-width: 940px;
      .form {
        max-width: 720px;
      }
  }
}

header {
  padding-top: 1rem;
  height: 15%;
}

.slider-content {
  height: 85%;
  .slider-heading {
    margin-top: 4rem;
  }
}

article {
  padding: 1rem; //override bootstrap col padding
  div div:nth-child(2) {
    padding-right: 0;
    padding-left: 0;
  }
}