@import "elements";
@import "typography";
@import "colors";

.pipe {
    padding: $padding__small-items;
    height: 1.1em;
}

.scroll-icon {
    padding: $margin__medium-items;
    height: 45px;
}

.scroll {
  text-transform: uppercase;
}

.hamburger {
    padding: 2px;
    border-radius: 2px;
    height: 1.1em;
        &:hover {
            background-color: lighten($color__text-body-dark, .2%);
        }
}

.graph-diagram {
  margin-right: 0;
  margin-left: 0;
}

.diagram article p:nth-child(3) {
    border-bottom: 1px solid $color__whisper;
}

.diagram article p:last-child {
   align-self: center;
}

.services-and-terms {
    h1 {
    margin-top: 2rem;
    }
    section div:last-child {
        padding: $padding__paragraphs;
    }
}

.arrow {
    opacity: .4;
    margin: 32.5% 0;
    width: 35%;
    height: 35%;
}

.boxes div:nth-child(even):nth-child(-n+6),
.boxes div:nth-child(n+8):nth-child(odd):nth-child(-n+13),
.boxes div:nth-child(n+15):nth-child(even):nth-child(-n+20) {
    padding: $padding__boxes;
}

.boxes div:nth-child(n):nth-child(-n+6),
.boxes div:nth-child(n+8):nth-child(n):nth-child(-n+13),
.boxes div:nth-child(n+15):nth-child(n):nth-child(-n+18) {
    border-bottom: 1px solid $color__zambezi;
}

footer {
    h1 {
        margin-top: 2.3rem;
    }
    p {
        padding: $padding__paragraphs;
    }
}

.footer-logo {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -4rem;
}

.form-control {
    border: none; //override Bootstrap
    border-bottom: 1px solid $color__zambezi;
}

.btn {
    border-radius: 0; //override Bootstrap
}

.form-btn {
    margin: $margin__button;
    color: $color__zambezi;
    border: 1px solid $color__zambezi;
}

footer ul {
    margin-top: 1rem; //override Bootstrap
    padding: $padding__paragraphs;
    li {
        list-style: none;
        line-height: 2rem;
    }
}

footer section:last-child div:first-child div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 1rem;
    border: 1px solid $color__zambezi;
}