@import "elements";
@import "typography";
@import "colors";

.pipe {
    padding: $padding__small-items;
    height: 1.1em;
}

.scroll-icon {
    font-size: 2rem;
    padding: $margin__medium-items;
}

h1 {
    margin: $margin__headings;
}

.mt-8 {
    margin-top: $margin__mt8;
}

.p-6 {
    padding: $padding__p6;
}

.hamburger {
    padding: 2px;
    border-radius: 2px;
    height: 1.1em;
        &:hover {
            background-color: lighten($color__text-body-dark, .2%);
        }
}

.diagram article p:nth-child(3) {
    border-bottom: 1px solid $color__grey-skull;
}

.diagram article p:last-child {
   align-self: center;
}

.img-thumbnail {
    border: none;
}
