@import "typography";

h1, h5, h6 {
  font-weight: $font-weight__headings;
  color: $color__text-headings-black;
  line-height: $line-height__headings;
}

h1 {
  text-transform: uppercase ;
  font-size: $font-size__h1;
  margin-bottom: 0; //override Bootstrap
  @media (min-width: 576px){
    font-size: $font-size__md-h1;
  }
  @media (min-width: 992px){
    font-size: $font-size__lg-h1;
  }
  @media (min-width: 1200px){
    font-size: $font-size__xl-h1;
  }

}

h5 {
  font-size: $font-size__h5;
  @media (min-width: 576px){
    font-size: $font-size__md-h5;
  }
  @media (min-width: 992px){
    font-size: $font-size__lg-h5;
  }
  @media (min-width: 1200px){
    font-size: $font-size__xl-h5;
  }
}

h5 {
  font-size: $font-size__h6;
  @media (min-width: 576px){
    font-size: $font-size__md-h6;
  }
  @media (min-width: 992px){
    font-size: $font-size__lg-h6;
  }
  @media (min-width: 1200px){
    font-size: $font-size__xl-h6;
  }
}

html {
  font-size: $font-size__html;
}

body {
  font-family: $font-family__body;
  font-size: $font-size__body;
    @media (min-width: 576px) {
        font-size: $font-size__md-body;
    }
    @media (min-width: 992px) {
        font-size: $font-size__lg-body;
    }
  font-weight: $font-weight__thin;
  color: $color__text-body-light;
}

p {
  line-height: $line-height__body;
  font-weight: $font-weight__light;
  color: $color__text-body-light;
  letter-spacing: $letter-spacing__more-space;
}

article {
  color: $color__text-body-dark;
  span {
    color: $color__text-headings-bright;
  }
  p {
    font-size: $font-size__body;
  }
}

header {
  font-weight: $font-weight__regular;
  text-transform: uppercase;
  .active>.nav-link {
    background-color: $color__ember-glow;
  }
}

.slider-content, .services-and-terms {
  color: $color__text-body-light;
  h1, h5 {
    color: $color__text-headings-white;
  }
  h5 {
    font-weight: $font-weight__regular;
    opacity: .7;
  }
  span {
    color: $color__text-headings-bright;
  }
}

.bubble-graph-text {
  h5 {
    text-transform: uppercase;
  }
  p {
  font-size: $font-size__body;
  }
}

footer {
  h1 span {
      color: $color__text-headings-white;
  }
  p, ul {
      color: $color__text-body-dark;
    span {
      color: $color__ember-glow;
    }
  }
}