@import "elements";
@import "typography";
@import "colors";

.pipe {
    padding: $padding__small-items;
    height: 1.1em;
}

.scroll-icon {
    padding: $margin__medium-items;
    height: 45px;
}

.scroll {
  text-transform: uppercase;
}

.hamburger {
    padding: 2px;
    border-radius: 2px;
    height: 1.1em;
        &:hover {
            background-color: lighten($color__text-body-dark, .2%);
        }
}

.graph-diagram {
  margin-right: 0;
  margin-left: 0;
}

.diagram article p:nth-child(3) {
    border-bottom: 1px solid $color__whisper;
}

.diagram article p:last-child {
   align-self: center;
}

.img-thumbnail {
    border: none; //override bootstrap
}
