@import "colors";

// Font sizes
$font-family__body: 'Roboto', 'Lato', 'Source Sans Pro', sans-serif;

$font-size__html: 0.7rem;
$font-size__body: 1rem;
$font-size__h1:   3rem;
$font-size__h2:   2.5rem;
$font-size__h3:   1.8rem;
$font-size__h4:   1.6rem;
$font-size__h5:   1.4rem;
$font-size__h6:   1.3rem;

$font-size__small: 0.8rem;

// Line heights
$line-height__body:     1.2em;
$line-height__headings: 1.4em;

// Letter spacing
$letter-spacing__more-space:    1;

// Font weights
$font-weight__thin:           100;
$font-weight__light:          300;
$font-weight__regular:        400;
$font-weight__headings:       700;

// Font Colors
$color__text-body-light:        $color__grey-skull;
$color__text-body-dark:         $color__zambezi;
$color__text-headings-white:    $color__white;
$color__text-headings-bright:   $color__ember-glow;
$color__text-headings-dark:     $color__black-coal;
$color__text-muted:             $color__grey-skull;

